/* стили хэдора */
#molecule-173140790596638700 {
    background-color: #0b0b0b6b!important;
    backdrop-filter: blur(10px)!important;
}
/* Стиль заголовка главной страницы  */
.headline-padge span {
    font-family: 'ZeroCool', Arial, sans-serif !important;
    font-size: 56px !important;
    line-height: 1.12;
}
/* Отступы у заголовков второго уровня */
.t795__title {
    margin-bottom: 5px;
}
/* Слайдер кнопки переключения / главная / партнеры / проживание */
.t604 .t-slds__arrow-withbg {
    border-radius: 12px;
    border: 2px solid black;
}
/* Стиль аккардиона / главная / faq */
.t668 {
    zoom: 1.546; 
}
.t668 .t-prefix_2 {
    padding-left: 0px;
    margin: 0 auto;
}
.t668__trigger-button {
    padding: 20px;
}
.t668__content {
    padding: 0 20px;
}
.t668__textwrapper {
    padding: 0 0 10px;
}
.t668__icon {
    right: 10px
}
/*Стиль что будет в 2025 / главная / партнеры */
.t490__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.t490__col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #171717;
    padding: 16px 0 0 0;
    border-radius: 24px;
    margin: 0 20px 40px 20px!important;
    height: 200px;
}  
.t490__separator {
    margin-bottom: 0px!important;
}
/* стили диалогового окна формы обратной связи*/
.t702__wrapper {
    padding: 24px!important;
}
.t702 .t702__text-wrapper {
    text-align: left;
}
.t-popup__block-close {
    top: 14px!important;
    right: 20px!important;
}
/* стиль табов */
.t395__tab {
    border-radius: 18px;
    margin: 10px !important;
}
.t395 .t395__wrapper {
    background-color: #171717;
    padding: 2px;
    border-radius: 20px; 
}
@media screen and (max-width: 960px) {
/* Стиль аккардиона / главная / faq */
    .t668 {
        zoom: 1.266; 
    }
    .t668 .t-prefix_2 {
        padding-left: 20px;
    }       
/*Стиль что будет в 2025 / главная / партнеры */    
    .t490 {
        zoom: 1.266;
    }     
    .t490__col {
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 16px;
        border-radius: 16px;
        margin: 0 20px 10px 20px!important;
        height: auto;
    }
    .t490__img {
        width: 56px!important;
    }
    .t490__wrappercenter {
        padding: 0 0 0 16px!important;
    }
    .t-card__title {
        text-align: left!important;
        font-size: 15px;
    }
    .t490 .t-heading_md {
        margin: 0!important;
    }
    .t490__img {
        margin-bottom: 0;
    }
    .t490 .t-name_xl {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 960px) {
    /* Стиль аккардиона / главная / faq */
    .t668 {
        zoom: 1.266; 
    }    
    .t668 .t-prefix_2 {
        padding-left: 20px;
    }
    /*Стиль что будет в 2025 / главная / партнеры */    
    .t490 {
        zoom: 1.266;
    }
    .t490__col {
        display: flex; 
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 16px;
        border-radius: 16px;
        margin: 0 20px 10px 20px!important;
        height: auto;
    }
    .t490__img {
        width: 56px!important;
    }
    .t490__wrappercenter {
        padding: 0 0 0 16px!important;
    }
    .t-card__title {
        text-align: left!important;
        font-size: 15px;
    }
    .t490 .t-heading_md {
        margin: 0!important;
    }
    .t490__img {
        margin-bottom: 0;
    }
    .t490 .t-name_xl {
        margin-bottom: 0;
    } 
}
@media screen and (max-width: 480px) {
    /* Стиль заголовка главной страницы  */
    .headline-padge span {
        font-size: 36px !important;
    }
    /* Стиль аккардиона / главная / faq */  
    .t668__col {
        padding-left: 20px!important;
        padding-right: 20px!important;
    }
    .t668 {
        zoom: 1.172; 
    }
    /* стили диалогового окна формы обратной связи*/
    .t702 .t-popup__block-close {
        background: none!important;
    }
    .t702__wrapper {
        padding: 16px 24px 24px 24px !important;
    }
    .t702 .t-popup_show .t-popup__container {
        padding-top: 12px!important;
    }
    .t702 .t702__text-wrapper {
        padding-right: 48px;
    }
}
